[submodule "DenseNet-MURA-PyTorch"]
	path = DenseNet_MURA_PyTorch
	url = https://github.com/ricky-696/DenseNet-MURA-PyTorch
[submodule "SRC_MT"]
	path = SRC_MT
	url = https://github.com/ricky-696/SRC_MT.git
