[submodule "DenseNet-MURA-PyTorch"]
	path = DenseNet_MURA_PyTorch
	url = https://github.com/ricky-696/DenseNet-MURA-PyTorch
[submodule "Kaggle_PANDA_1st_place_solution"]
	path = Kaggle_PANDA_1st_place_solution
	url = https://github.com/ricky-696/Kaggle-PANDA-1st-place-solution
